@tailwind base;
@tailwind components;
@tailwind utilities;


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9ca3af;
  border-radius: 10px;
  margin: 10px 0 10px 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #438AD2 ;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #438AD2;
}